<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Your book <%= @book.title %> has been deleted successfully!</p>
    <p>
    Book details<br>
    --------------------------
    </p>
    <p>Name: <%= book_title %></p>
    <p>Price: <%= book_price %></p>
    <p>Author: <%= @author.name %></p>
    <p>
    Prints:<br>
    ----------
    </p>
    <p><%= book_prints %></p>
  </body>
</html>